body {
	background-color: white;
	background-image: url("Images/SpaceBackground.jpg");
	margin-left: 3%;
	font-family: Verdana;
}
h1 {
	color: black;
}
h2 {
	color: black;
	text-decoration: underline;
	background-color: #FAD7FA;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 3px 3px 6px black;
}

.Btop {
	padding: 10px;
}
p{
color: black;
font-family: Verdana;

}
ul {
	color: black;
}
h3 {
	color:black;
}
#AboutMe {
	color: black;
	margin-left: 2px;
}

nav {
	font-family: Verdana;
	font-size: 16px;
	
}

#NavBar {
	background-color: #D88CF3;
	border-radius: 12px;
	display: inline-block;
	font-weight: bold;
	margin: 2px 2px;
	padding:20px;
	
	box-shadow: 3px 3px 8px black;
	color: white;
	
}

#NavBar:hover{
	background-color: #FFF765;
	color: grey;
}


a {
	color: red;
	font-weight: bold;
}

a:hover {
	color: grey;
}

.sidenavi {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 30px;
	padding-left: 32px;
	transition: 0.5s;
}

.sidenavi a {
	padding: 8px 8px 8px 0px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenavi a:hover {
	color: #f1f1f1;
}

.Cards {
	
	display: inline-block;
	padding: 5px;
	border-color: grey;
	border-radius: 12px;
	box-shadow: 3px 3px 8px black;
}

#Title {
	
	float: right;
	display: inline-block;
}

.SideContainer {
	min-width: 250px;
	width: 300px;
	min-height: 500px;
	margin: auto;
	float: left;
	background-color: grey;
}

.MainContainer {
	min-width: 500px;
	width: 80%;
	float: left;
	margin: auto;
	background-color: white;
	box-shadow: 4px 4px 5px black;
	border-radius: 12px;
}

.WholeContainer {
	width: 80%;
	margin: auto;
	
}

.MarginMain {
	margin: 20px
	
}

.flex-container {
	display: flex;
	
}


