
body {
	
	background-image: url("Images/SpaceBackground.jpg");
	word-wrap: break-word;
	font-family: Roboto;
	min-width: 550px;
}
h1 {
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	color: black;
	text-decoration: underline;
	margin-right: 10px;
	margin: 0px;
	font-size: 20px;
	background-color: #ff8533;
	padding: 5px;
}

.Btop {
	padding: 10px;
}
p{
color: black;
font-family: Verdana;
	font-size: 14px;
	margin-top: 4px;
	

}
.marginAsteroid{
	width: 90%;
}
#AsteroidFont{
	font-size: 40px;
	color: white;
	position: relative;
}
.gradient{
	
    height: 150px;
	
	overflow: hidden;
	width: 100%;
	margin-top: -127px;
	
	z-index: 1;
}
#gradAst{
	background-image: linear-gradient(90deg,#000000,#7304E9);
}
#gradTaco{
	background-image: linear-gradient(90deg,#FBBE0E,#FB470E);
}
#gradSOV{
		background-image: linear-gradient(90deg,#A4FF8F,#8FFFF0);
}
.borderRadBox{
	border-bottom-right-radius: 200px;
    position: relative;
    z-index: 1;
	background: black;
	padding: 4rem 2rem 1rem;
	
}

h3 {
	color:black;
	font-size: 18px;
	margin-top: 1px;
}
.MarginH3{
	margin-top:1px;
	margin-right: 10px;
	text-align: top;
	min-width: 129px;
	max-width: 130px;
}
.EachCont{
	display: flex;
	margin: 5px 10px 5px 5px;
	
	
}
.cardMargin {
	margin: 10px;
}
h4 {
	text-decoration: underline;
	font-size: 16px;
}

#AboutMe {
	color: black;
	margin-left: 2px;
	
}

nav {
	font-family: Verdana;
	font-size: 16px;
	
}

#NavBar {
	background-color: #D88CF3;
	border-radius: 12px;
	display: inline-block;
	font-weight: bold;
	margin: 2px 2px;
	padding:20px;
	
	box-shadow: 3px 3px 8px black;
	color: white;
	
}

#NavBar:hover{
	background-color: #FFF765;
	color: grey;
}


a {
	color: black;
	font-weight: bold;
	
	
}

a:hover {
	color: red;
}

.topNav {
	height: 50px;
	text-align: center;
	background-color: white;
	width: 100%;
	
}
.ta-ul{
	display: flex;
	align-items: center;
	
	margin: 0px 0px 0px 10px;
	height: 50px;
}
.sizeA {
	padding:16.5px;
	text-decoration: none;
}
.sizeA:hover {
	background-color: #C6C6C6;
	border: 16px;
	border-color: grey;
	color: white;
}

.skillsFlex{
	display: flex;
	min-width: 100px;
}
#blackBar {
	background-color: black;
	border: 1px;
	height: 1px;
	width: 70%;
}
.sidenavi {
	
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 30px;
	padding-left: 32px;
	transition: 0.3s;
}

.sidenavi a {
	padding: 8px 8px 8px 0px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenavi a:hover {
	color: #f1f1f1;
}

.Cards {
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 0px;
	padding: 5px;
	background-color: white;
	transition: transform .2s;
	
}

#Title {
	margin: 5px 5px 5px 20px;
	margin-right: 0px;
	float: right;
	
	
	
}

.SideContainer {
	min-width: 250px;
	width: 300px;
	min-height: 500px;
	margin: auto;
	float: left;
	background-color: grey;
}

.MainContainer {
	
	
	
	background-color: white;
	
	
}

.WholeContainer {
	width: 100%;
	margin: auto;
	
}

.MarginMain {
	
	margin: 20px 0px 20px 20px;
	width: 95%;
	display: inline-block;
}

.flex-container {
	display: flex;
	max-width: 100%;
	min-width: 50%
}

.Screenshots {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.thumbnail:hover{
	transform: scale(1.5);
}

