
body {
	background-color: white;
	background-image: url("Images/SpaceBackground.jpg");
	
	font-family: Roboto;
}
h1 {
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	color: black;
	text-decoration: underline;
	margin-right: 10px;
	margin: 0px;
	font-size: 20px;
	background-color: #ff8533;
	padding: 5px;
}

.Btop {
	padding: 10px;
}
p{
color: black;
font-family: Verdana;
	font-size: 14px;
	margin-top: 4px;

}
ul {
	color: black;
	font-size: 14px;
	margin: 5px;
	font-family: verdana;
}
h3 {
	color:black;
	font-size: 18px;
	margin-right: 10px;
	margin-top: 1px;
}
.MarginH3{
	margin-top:1px;
	margin-right: 10px;
	text-align: top;
	min-width: 130px;
	max-width: 130px;
}
.EachCont{
	display: flex;
	margin: 5px;
	
	
}
h4 {
	text-decoration: underline;
	font-size: 16px;
}

#AboutMe {
	color: black;
	margin-left: 2px;
	
}

nav {
	font-family: Verdana;
	font-size: 16px;
	
}

#NavBar {
	background-color: #D88CF3;
	border-radius: 12px;
	display: inline-block;
	font-weight: bold;
	margin: 2px 2px;
	padding:20px;
	
	box-shadow: 3px 3px 8px black;
	color: white;
	
}

#NavBar:hover{
	background-color: #FFF765;
	color: grey;
}


a {
	color: red;
	font-weight: bold;
}

a:hover {
	color: grey;
}

.sidenavi {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 30px;
	padding-left: 32px;
	transition: 0.3s;
}

.sidenavi a {
	padding: 8px 8px 8px 0px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenavi a:hover {
	color: #f1f1f1;
}

.Cards {
	
	display: inline-block;
	padding: 5px;
	border-color: grey;
	border-radius: 12px;
	box-shadow: 3px 3px 8px black;
}

#Title {
	margin: 20px 20px 0px 20px;
	margin-right: 0px;
	text-align: right;
	
	
	
}

.SideContainer {
	min-width: 250px;
	width: 300px;
	min-height: 500px;
	margin: auto;
	float: left;
	background-color: grey;
}

.MainContainer {
	min-width: 60%;
	width:90%;
	
	margin: auto;
	background-color: white;
	
	border-radius: 12px;
}
.Container2{
	top: 10px;
	width: 35%;
	display: inline-block;
	vertical-align: top;
	min-width:30%;
	margin-left: 0px;
}
.WholeContainer {
	width: 100%;
	margin: auto;
	
}

.MarginMain {
	margin-left: 20px;
	margin-right: 0px;
	margin-top:20px;
	width: 60%;
	display: inline-block;
}

.flex-container {
	display: flex;
	max-width: 80%;
	min-width: 50%
}

.Screenshots {
	width: 100%;
	height: 100%;
	display: inline-block;
}

